.idea
.idea/**/*
log/*.log
log/*.output
log/*.pid
tmp/mds*.zip
tmp/*.pid
tmp/*.csv
tmp/*.txt
tmp/**/*
tmp/scheduler_status
.DS_Store
nbproject/
.idea/**/*
.rvmc
.rvmrc
.ruby-gemset
.ruby-version
.emacs_project
.autotest
*.swp
.zeus.sock
/bower_components
/node_modules
/dist